
/* Medium Screens: 1200px */

@media only screen and (min-width: 1365px) and (max-width: 1599px){
    .hero-container .hero-text .cta-container{
        width: 35%;
    }
    .hero-container .hero-right{
        top: 30px;
        right: -10%;   
    }
}

@media screen and (min-width: 1200px) and (max-width: 1365px){
    .navbar-container{
        width: 80%;
    }
    .hero-container .hero-text .dynamic-text-list{
        width: 40%;
    }
    .hero-container .hero-text .cta-container{
        width: 40%;
    }
    .hero-container .hero-right{
        top: 50px;
        right: -20%;   
    }
    .hero-bottom .stats-container{
        width: 50%;
    }
    .hero-bottom .stats-container .hero-stats .stats-number{
        font-size: 2.5rem;
    }
    .about-container{
        width: 80%;
    }
    .about-container .about-content #about-name{
        font-size: 2.5rem;
    }
    .about-container .about-content #about-position{
        font-size: 1.25rem;
    }
    .twitter-container .twitter-content{
        width: 40%;
    }
    .contact-container{
        width: 80%;
    }
}
@media screen and (min-width: 992px) and (max-width: 1200px){
    .nav-links ul li{
        font-size: 0.9rem;
    }
    .navbar-container{
        width: 90%;
    }
    .hero-container .hero-text .dynamic-text-list{
        width: 40%;
    }
    .hero-container .hero-text .cta-container{
        width: 55%;
        max-width: 100%;
    }
    .hero-container .hero-right{
        right: -25%;
        top: 100px;
    }
    .hero-container .hero-text #name{
        font-size: 3.5rem;
    }
    .hero-container .hero-text .dynamic-text-list #position{
        font-size: 1.5rem;
    }
    .hero-bottom .stats-container{
        width: 50%;
    }
    .hero-bottom .stats-container .hero-stats .stats-number{
        font-size: 2rem;
    }
    .about-container{
        width: 90%;
    }
    .about-container .about-content #about-name{
        font-size: 2rem;
    }
    .about-container .about-content #about-position{
        font-size: 1.25rem;
    }
    .about-container .about-content p{
        margin: 2.5% 0;
        font-size: 1rem;
    }
    .testimonials-container .testimonials-slider .testimonials-slide p{
        width: 90%;
    }
    .twitter-container .twitter-content{
        width: 50%;
    }
    .contact-container{
        width: 90%;
    }
}

/* Tablet: 768px. */

@media only screen and (max-width: 991px) {
    .section-container{
        width: 75%;
    }
    .nav-links ul{
        display: none;
    }
    .sidebar-transition{
        transition: .5s ease-in-out;
    }
    .sidebar-active{
        transform: translateX(0);
    }
    .burger, .sidebar{
        display: block;
    }
    .navbar-container{
        width: 95%;
    }
    .hero-container{
        height: 60%;
    }
    .hero-container .hero-text{
        display: flex;
        flex-flow: column;
        text-align: center;
        align-items: center;
    }
    .hero-container .hero-text #name{
        font-size: 3rem;
    }
    .hero-container .hero-text .dynamic-text-list #position{
        font-size: 1.25rem;
    }
    .hero-container .hero-text .cta-container{
        width: 100%;
        max-width: 100%;
        justify-content: center;
    }
    .hero-container .hero-text .cta-container .cta{
        font-size: 0.85rem;
    }
    .hero-container .hero-right{
        display: none;
    }
    .hero-bottom .stats-container{
        width: 60%;
    }
    .hero-bottom .stats-container .hero-stats .stats-number{
        font-size: 1.75rem;
    }
    .hero-container .hero-text .dynamic-text-list {
        width: 40%;
    }
    .about-container{
        flex-flow: column;
        align-items: center;
    }
    .about-container .img-wrapper{
        width: 50%;
        max-width: 100%;
        margin-bottom: 15%;
        margin: auto;
        border: 10px solid var(--color-accent);
    }
    .about-container .img-wrapper::before{
        display: none;
    }
    .about-container .img-wrapper img{
        width: 100%;
        height: auto !important;
    }
    .about-container .about-content{
        margin-top: 10%;
        margin-left: 0;
        text-align: center;
    }
    .testimonials-container{
        max-width: 90%;
    }
    .testimonials-container .testimonials-slider .testimonials-slide p{
        width: 90%;
    }
    
    .twitter-container{
        background-position: right;
    }
    .container-darken{
        display: block;
    }    
    .twitter-container .twitter-content{
        width: 60%;
        margin: 0 auto;
        text-align: center;
    }
    .twitter-container .twitter-content p{
        margin: 20px auto;
    }
    .twitter-container .twitter-content a{
        margin: 0 auto;
    }
    .contact-container{
        width: 100%;
    }
    .contact-container .contact-card{
        width: 40%;
    }
}
@media only screen and (max-width: 768px) {
    .hero-bottom .stats-container{
        width: 100%;
        box-shadow: unset;
        border-radius: 0;
        background: #efefef;
        top: unset;
        flex-flow: column;
        height: auto;
        justify-content: space-between;
        margin-bottom: 10%;
    }
    .hero-bottom .stats-container .hero-stats{
        margin: 5% 10%;
    }
    .hero-bottom .stats-container .hero-stats .stats-number{
        font-size: 1.75rem;
    }
    .hero-container .hero-text .dynamic-text-list {
        width: 90%;
    }
    .about-container{
        width: 95%;
    }
    .contact-container{
        flex-flow: column;
    }
    .contact-container .contact-card{
        margin: 2.5% 0;
        width: 75%;
    }
    
}