
/* Medium Screens: 1200px */

@media only screen and (min-width: 1365px) and (max-width: 1599px){
    .hero-container .hero-text .cta-container{
        width: 35%;
    }
    .hero-container .hero-right{
     right: 10%;   
    }
}

@media screen and (min-width: 1200px) and (max-width: 1365px){
    .navbar-container{
        width: 80%;
    }
    .hero-container .hero-text .cta-container{
        width: 40%;
    }
    .hero-container .hero-right{
        right: 5%;   
    }
    .hero-bottom .stats-container{
        width: 50%;
    }
    .hero-bottom .stats-container .hero-stats .stats-number{
        font-size: 2.5rem;
    }
    .about-container{
        width: 80%;
    }
    .about-container .about-content #about-name{
        font-size: 2.5rem;
    }
    .about-container .about-content #about-position{
        font-size: 1.25rem;
    }
}
@media screen and (min-width: 992px) and (max-width: 1200px){
    .nav-links ul li{
        font-size: 0.9rem;
    }
    .navbar-container{
        width: 90%;
    }
    .hero-container .hero-text .cta-container{
        width: 55%;
        max-width: 100%;
    }
    .hero-container .hero-right{
        right: 0;
    }
    .hero-container .hero-text #name{
        font-size: 3.5rem;
    }
    .hero-container .hero-text #position{
        font-size: 1.5rem;
    }
    .hero-bottom .stats-container{
        width: 50%;
    }
    .hero-bottom .stats-container .hero-stats .stats-number{
        font-size: 2rem;
    }
    .about-container{
        width: 90%;
    }
    .about-container .about-content #about-name{
        font-size: 2rem;
    }
    .about-container .about-content #about-position{
        font-size: 1.25rem;
    }
    .about-container .about-content p{
        margin: 2.5% 0;
        font-size: 1rem;
    }
}

/* Tablet: 768px. */

@media only screen and (max-width: 991px) {
    .nav-links ul{
        display: none;
    }
    .sidebar-active{
        opacity: 1;
    }
    .burger-menu{
        display: block;
    }
    .navbar-container{
        width: 95%;
    }
    .hero-container{
        height: 60%;
    }
    .hero-container .hero-text{
        display: flex;
        flex-flow: column;
        text-align: center;
        align-items: center;
    }
    .hero-container .hero-text #name{
        font-size: 3rem;
    }
    .hero-container .hero-text #position{
        font-size: 1.25rem;
    }
    .hero-container .hero-text .cta-container{
        width: 100%;
        max-width: 100%;
        justify-content: center;
    }
    .hero-container .hero-text .cta-container .cta{
        font-size: 0.85rem;
    }
    .hero-container .hero-right{
        display: none;
    }
    .hero-bottom .stats-container{
        width: 60%;
    }
    .hero-bottom .stats-container .hero-stats .stats-number{
        font-size: 1.75rem;
    }
    .about-container{
        flex-flow: column;
        align-items: center;
    }
    .about-container .img-wrapper{
        width: 50%;
        margin-bottom: 15%;
        margin: auto;
        border: 10px solid var(--color-accent);
    }
    .about-container .img-wrapper::before{
        display: none;
    }
    .about-container .img-wrapper img{
        width: 100%;
    }
    .about-container .about-content{
        margin-top: 10%;
        margin-left: 0;
        text-align: center;
    }
}
@media only screen and (max-width: 768px) {
    .hero-bottom .stats-container{
        width: 100%;
        box-shadow: unset;
        border-radius: 0;
        background: #efefef;
        top: unset;
        flex-flow: column;
        height: auto;
        justify-content: space-between;
        margin-bottom: 10%;
    }
    .hero-bottom .stats-container .hero-stats{
        margin: 5% 10%;
    }
    .hero-bottom .stats-container .hero-stats .stats-number{
        font-size: 1.75rem;
    }
    .about-container{
        width: 95%;
    }
}