* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #ffffff;
    --color-secondary: #000000;
    --color-accent: crimson;
    --color-text: #444444;

    --font-title: 'Teko', sans-serif;
    --font-heading: 'Sumana', serif;
    --font-primary: 'Montserrat', sans-serif;

}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.navbar{
    width: 100%;
    padding: 2% 0;
    z-index: 5;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}
.navbar-container .logo img{
    max-width: 200px;
}
.nav-links{
    display: flex;
    justify-content: end;
    align-items: center;
}
.nav-links ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-links ul li{
    font-family: var(--font-primary);
    color: var(--color-text);
    font-size: 1rem;
    text-transform: uppercase;
    margin: 0 25px;
}
.nav-links ul li a:hover{
    color: var(--color-accent);
}

.burger-menu{
    position: relative;
    display: none;
}
.burger{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background: var(--color-text);
    cursor: pointer;
}
.sidebar{
    padding: 25px;
    background: var(--color-text);
    position: absolute;
    top: calc(100% + 10px);
    top: 100%;
    right: 0;
    transition: .5s ease-in-out;
    opacity: 0;
}
.sidebar-links{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sidebar-links ul li{
    font-family: var(--font-primary);
    font-size: 1rem;
    text-transform: uppercase;
    margin: 25px;
}
.sidebar-links ul li a{
    color: var(--color-primary);
}
.sidebar-links ul li a:hover{
    color: var(--color-accent);
}

/* Hero Section */

.hero-container{
    background-color: #fefcfc;
    -webkit-box-shadow: 0px 10px 20px 0px #dddddd; 
    box-shadow: inset 0px 10px 10px 0px #dddddd;
    width: 100%;
    height: calc(100% - 132px);
    padding: 15% 0;
    z-index: 1;
}
.hero-container .hero-right{
    position: absolute;
    top: 15%;
    right: 20%;
}
.hero-container .hero-right .img-wrapper{
    position: relative;
}
.hero-container .hero-text{
    font-family: var(--font-primary);
    width: 70%;
    margin: 0 auto;
}
.hero-container .hero-text #greeting{
    font-size: 1.25rem;
}
.hero-container .hero-text #name{
    font-size: 5rem;
    font-weight: 700;
}
.hero-container .hero-text #position{
    font-size: 2rem;
    color: #646464;
}
.hero-container .hero-text .cta-container{
    width: 30%;
    max-width: 50%;
    display: flex;
    justify-content: start;
    margin: 25px 0;
}
.hero-container .hero-text .cta-container .cta{
    background: var(--color-accent);
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
    color: var(--color-primary);
    font-weight: 700;
    margin: 0 2.5%;
    text-align: center;
    /* border-radius: 37.5px; */
    border: 1px solid var(--color-accent);
    font-size: 1rem;
}
.hero-container .hero-text .cta-container .cta:hover{
    transition: .5s ease-in-out;
    background: var(--color-primary);
    color: var(--color-accent);;
}
#btn-download{
    width: 200px;
    background: var(--color-primary);
    color: var(--color-accent);;
}
#btn-download:hover{
    transition: .5s ease-in-out;
    background: var(--color-accent);
    color: var(--color-primary);;
}

/* Hero Bottom */

.hero-bottom{
    width: 100%;
    display: flex;
    justify-content: center;
}
.hero-bottom .stats-container{
    -webkit-box-shadow: 0px 0px 15px 0px #aaaaaa; 
    box-shadow: 0px 0px 15px 0px #aaaaaa;
    display: flex;
    /* border-radius: 100px; */
    position: relative;
    top: -90px;
    height: 100px;
    padding: 5% 1%;
    width: 40%;
    justify-content: center;
    align-items: center;
    background: var(--color-primary);
}
.hero-bottom .stats-container .hero-stats{
    margin: 0 10%;
    font-family: var(--font-primary);
    position: relative;
    text-align: center;
}
.hero-bottom .stats-container .hero-stats .stats-number{
    font-size: 3rem;
}

/* Section Title */

.section-container{
    font-family: var(--font-primary);
    width: 40%;
    margin: 5% auto;
    text-align: center;
}
.section-span{
    color: var(--color-accent);
}
.section-container:first-child{
    margin-top: 0;
}
.section-container .section-subtitle{
    font-weight: 400;
    color: #646464;
}
.section-container .section-title{
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 2.5%;
}
.section-container p{
    color: #646464;
}

/* About Section */

.about-container{
    font-family: var(--font-primary);
    display: flex;
    width: 70%;
    margin: 5% auto;
    justify-content: center;
}
.about-container .img-wrapper{
    height: 100%;
    border: 1px solid var(--color-accent);
    position: relative;
}
.about-container .img-wrapper::before{
    position: absolute;
    left:10px;
    top: 10px;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 10px solid var(--color-accent);
    z-index: -1;
    content: '';
}
.about-container .about-content{
    width: 100%;
    margin-left: 10%;
}
.about-container .about-content #about-name{
    font-size: 3rem;
    font-weight: 700;
    text-decoration: underline;
}
.about-container .about-content #about-position{
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 2.5%;
}
.about-container .about-content p{
    margin: 2.5% 0;
    font-size: 1.15rem;
}
.btn-wrapper{
    margin-top: 7.5%;
}
.about-container .about-content #btn-download{
    border: 1px solid var(--color-accent);
    margin-top: 10%;
    padding: 20px 90px;
    /* border-radius: 50px; */
    font-weight: 700;
    font-size: 1.1rem;
}

/* Services Section */

#services{
    padding: 5% 0;
    background: #fefcfc;
}
.services-container{
    width: 100%;
    margin: 0 auto 5% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.services-container .service-card{
    border: 1px solid #646464;
    display: flex;
    flex-flow: column;
    align-items: center;
    /* border-radius: 10px; */
    justify-content: center;
    width: 300px;
    height: 250px;
    margin: 25px;
}
.icon{
    color: var(--color-accent);
    width: 75px;
    height: 75px;
}

.services-container .service-card h4{
    font-size: 1.5rem;
    margin-top: 20px;
    font-family: var(--font-primary);
    font-weight: 400;
    text-align: center;
}
.services-container .service-card:hover{
    transition: .5s ease-in-out;
    background: var(--color-accent);
    color: var(--color-primary);
}
.services-container .service-card:hover>.icon{
    color: var(--color-primary);
}

/* Testimonials */

#testimonials{
    padding: 5%;
    background: #f4f4f4;
}
.testimonials-container{
    max-width: 70%;
    margin: 0 auto;
    font-family: var(--font-primary);
}
.testimonials-container .testimonials-slider{
    background: white;
    border-radius: 10px;
}
.testimonials-container .testimonials-slider .testimonials-slide{
    position: relative;
    padding: 50px;
    text-align: center;
    cursor: grab;
    height: unset;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.testimonials-container .testimonials-slider .testimonials-slide .testimonial-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    margin-bottom: 25px;
    -webkit-box-shadow: 0px 0px 50px 10px #afafaf; 
    box-shadow: 0px 0px 10px 5px #afafaf;
}
#testimonial-img-1{
    background-image: url('../img/testimonial-1.jpeg');
}
#testimonial-img-2{
    background-image: url('../img/testimonial-2.jpeg');
}
#testimonial-img-3{
    background-image: url('../img/testimonial-3.jpeg');
}
.testimonials-container .testimonials-slider .testimonials-slide p{
    width: 70%;
    margin: 25px auto;
}
.testimonials-container .testimonials-slider .testimonials-slide h5{
    font-size: 1.25rem;
    letter-spacing: 1px;
    margin-bottom: 5px;
}
.testimonials-container .testimonials-slider .testimonials-slide label{

}
.slick-dots{
    display: flex;
    justify-content: center;

}
.slick-dots li{
    margin: 1%;
    width: 10px;
    height: 10px;
    border: 1px solid var(--color-accent);
    border-radius: 50%;
}
.slick-dots li.slick-active{
    background: var(--color-accent);
}
.slick-dots li button { 
    font-size: 0; 
 } 